<h1 mat-dialog-title>
<ng-container *ngIf="data.type === 0;else second">
  Create New Goal
</ng-container>
<ng-template #second>
  <ng-container *ngIf="data.type === 1;">
    Edit Goal
  </ng-container>
</ng-template></h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Goal Name</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Half Credit Milestone</mat-label>
    <textarea  matInput [(ngModel)]="data.halfCredit"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Full Credit Milestone</mat-label>
    <textarea matInput [(ngModel)]="data.fullCredit"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" color="warn">Cancel</button>
  <ng-container *ngIf="data.type === 0;else otherButton">
    <button mat-button [mat-dialog-close] cdkFocusInitial (click)="createGoal()" color="primary">Create</button>
  </ng-container>
  <ng-template #otherButton>
    <ng-container *ngIf="data.type === 1;">
      <button mat-button [mat-dialog-close] cdkFocusInitial (click)="editGoal()" color="primary">Save</button>
    </ng-container>
  </ng-template>
  
</div>
