<app-top-bar></app-top-bar>
<mat-grid-list cols="10" rowHeight="2:1">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <button mat-raised-button color="primary" (click)="openDialogNewGoal()">Add New Goal</button>
    </mat-grid-tile>
    <mat-grid-tile>Monday</mat-grid-tile>
    <mat-grid-tile>Tuesday</mat-grid-tile>
    <mat-grid-tile>Wednesday</mat-grid-tile>
    <mat-grid-tile>Thursday</mat-grid-tile>
    <mat-grid-tile>Friday</mat-grid-tile>
    <mat-grid-tile>Saturday</mat-grid-tile>
    <mat-grid-tile>Sunday</mat-grid-tile>
</mat-grid-list>
<div *ngFor="let item of list">
    <app-goal [id]="item.id" [title]="item.name" [halfCredit]="item.halfCredit" [fullCredit]="item.fullCredit" (editGoalEvent)="editGoal($event)"></app-goal>
</div>